{% extends 'main.html' %}

{% block title %}
Account
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <a href="{% url 'projects' %}"><img src="{{profile.profile_image.url}}" class="img-fluid img-thumbnail w-100 mt-3" alt="Project Thumbnail" /></a>
    </div>
    <div class="col-md-6 text-center">
      <h4 class="font-weight-bold mb-4">{{profile.name}}</h4>
      <div class="text-muted mb-4">{{profile.short_intro}}</div>
      <p class="text-secondary">
        <strong>Based In {{profile.location}}</strong>
      </p>
      <p class="text-secondary">
        <strong>{{profile.bio}}</strong>
      </p>
    </div>
  </div>


<!-- end of first row -->



<div class="row  justify-content-center my-2">
  <div class="col">
    <div class="card">
      <div class="card-header">Skills</div>
      <div class="card-body">
        {% for skill in skills %}
        <div class="mb-1">{{skill.name}}<small class="text-muted">80%</small></div>
        <div class="progress mb-3" style="height: 4px;">
          <div class="progress-bar bg-secondary" style="width: 80%;"></div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="row my-3">  
  <div class="col">
    <a href="{% url 'edit_account' %}" class="btn btn-outline-primary rounded-pill">Edit Account</a>

    <a href="{% url 'createProject' %}" class="btn btn-outline-primary rounded-pill">Add project</a>

</div>  
</div>
  
   
    
  {% for project in projects %}
    <div class="card mx-3 my-3" style="width: 18rem; display:inline-block">
        
        <a href="{% url 'project' project.id %}" class="project">
          <img class="card-img-top project__thumbnail" src="{{ project.featured_image.url }}" alt="project thumbnail">
          <div class="card-body" style="background-color: #0DBD44;">
            <h5 class="card-title project__title text-center">{{ project.title }}</h5>
            <p class="text-center">{{ project.description|slice:"150" }}</p>
            <p class="card-text project--rating text-center">
              <span style="font-weight: bold;">{{ project.vote_ratio }}%</span>
              Positive Feedback ({{ project.vote_total }} vote{{ project.vote_total|pluralize:"s" }})
            </p>
          </div>
        </a>
   
    </div>
    {% endfor %}
  </div>
{% endblock content %}
