{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block title %}
Profile Update
{% endblock title %}

{% block content %}
<div class="container d-flex justify-content-center">
    <form action="{% url 'edit_account' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center">
            <input type="submit" value="Edit Account" class="btn btn-outline-primary ml-5 pill">
        </div>
    </form>
</div>

{% endblock content %}